[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mt"]
	path = mt
	url = https://github.com/wanchanglin/mt
[submodule "qcrlscR"]
	path = qcrlscR
	url = https://github.com/wanchanglin/qcrlscr
